
.top-nav-collapse {
    background-color: #1C2331 !important;
}

.card {
    font-weight: 300 !important;
    background-color: #2e2e2e !important;
}
.car-content2 {
    position: relative;
}
/* .car-content2 .carousel-item-text { */
  /*padding: 5px;
  height: 80px;
  background-color: #343a40;*/
    /* position: absolute;
    font-size: 2.5em;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 2px 2px 1px #000; */
/* } */
/* .car-content2 .carousel-item-image img {
    height: 100vh;
} */
.owl-dots{
    position: absolute;
    bottom:10px;
    left:25%;
    right:25%;
}
/*.car-content {
    position: relative;

    .owl-theme {
        .custom-nav {
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;

            .owl-prev, .owl-next {
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;

                i {
                    font-size: 2.5rem;
                    color: #cecece;
                }
            }

            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }
    }
}
.car-content .carousel-item-text {
  padding: 5px;
  height: 80px;
  background-color: #343a40;
}
.car-content .item-image {
  min-height: 180px;
  max-height: 180px;
}
*/




.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}
.testimonial-card .avatar {
    border-radius: 50%;
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

.testimonial-card .card-body {
    text-align: center;

}

.card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
.testimonial-card .avatar img {
    width: 100%;
}

footer .center-border {
    border-right: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);

}
footer .lead:after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: #3889b7;
    margin-top: 8px;

}
@media (max-width: 768px) {
    footer .center-border {
        margin-top: 40px;
        border-top: 1px solid #fff;
        margin-bottom: 40px;
        border-bottom: 1px solid #fff;
        padding-bottom: 40px;
        padding-top: 40px;
        border-right: none;
        border-left: none;
    }
    /* .car-content2 .carousel-item-text {
        font-size: 1.20em;
    } */
    .media-button-font {
        font-size: 1.54rem !important;
    }
    .media-button-font-2 {
        font-size: 21px !important;
    }
    footer .header {
        font-size: 19px;
    }
    /* .car-content2 .carousel-item-image img {
        height: 100%;
    } */
    .car-content2 {
        padding-top: 62px;
    }
    .stretchy-wrapper img.mob-yt-img {
        height: 350px !important;
    }
    .mobile-mx-0 {
        margin-right: 0!important;
        margin-left: 0!important;
    }
}

@media (max-width: 575.98px) {
    .pc-only {
        display: none;
    }
}
@media (min-width: 576px) {
    .mob-only {
        display: none;
    }
}

@media (min-width: 991.98px) {
    .mob-tab-only {
        display: none;
    }
}

.top-pad {
    padding-top: 95px;
}
.byline {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    margin: 1rem -0.75rem 1rem -1.25rem;
    background-color: rgba(0, 0, 0, 0.09);
    
    width: calc(100% + 2.5rem);
    
}

.card.card-cascade.wider {
    background-color: transparent;
    box-shadow: none;
}
.card.card-cascade.wider .view.view-cascade {
    z-index: 2;
}
.card.card-cascade .view.view-cascade {
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view img, .view video {
    position: relative;
    display: block;
}

.overlay .mask {
    opacity: 0;
    transition: all .4s ease-in-out;
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;

}

.card.card-cascade.wider .card-body.card-body-cascade {
    z-index: 1;
    margin-right: 4%;
    margin-left: 4%;
    
    border-radius: 0 0 .25rem .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);


}
.delay-1 {
    animation-delay: .25s;
}
.delay-2 {
    animation-delay: .5s;
}
.delay-3 {
    animation-delay: .75s;
}

nav.navbar-dark {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
.btn-facebook {
	color: #fff;
	background-color: #3b5998;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #213A6F;
}
.btn-facebook:focus {
	color: #fff;
}

.btn-whatsapp {
	color: #fff;
	background-color: #25D366;
}
.btn-whatsapp:hover {
	color: #fff;
	background-color: rgb(17, 170, 73);
}
.btn-whatsapp:focus {
	color: #fff;
}
.navbar-brand {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-footer .discount {
    color: #9e9e9e;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgb(15, 26, 48);
    color: white;
}
.dropdown-menu.dropdown-primary {
    background-color: #1C2331;
}
a.dropdown-item {
    color: white !important;
}

.dropdown-menu hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
/*
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 */

 /* .aos {
  opacity: 0;
  transition: opacity .35s linear;
}
.aos[data-scroll="in"] {
   opacity: 1;
   transition-duration: 1s;
} */

/* .wow {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wow[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0) scale(1);
} */


div.stretchy-wrapper {
    position: relative;
}
.playBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -16px;
}

.card-img-height {
    min-height: 260px;
    max-height: 260px;
}

.scrollup {
    position: fixed;
    bottom: 10%;
    right: 3%;
    padding: 5px 15px;
    color: #fff;
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
    display: none;
}

.scrollup:hover {
    color: #fff;
    background-color: rgba(102,187,106,.5);
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}

.btn_openinapp{
    z-index: 2;
    color: #fff;
    padding: 0 3px 0 3px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    border-radius: 0 25px 25px 0;
    background: #0079ad9f;
    position: fixed;
    bottom: 210px;
    margin: auto;
    left: 0;
    font-weight: 400;
    transition: all .35s ease-in-out;
    height: 30px;
    line-height: 32px;
    white-space: nowrap;
}


#slidermq {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
  }
  
  #slidermq ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slidermq ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 25px;
  }
  
  a.control_prevmq, a.control_nextmq {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  
  a.control_prevmq {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_nextmq {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
a {
    cursor: pointer;
    color: #3889b7;
}

/* unvisited link */
/* a:link {
    color: #fb3;
  } */
  
  /* visited link */
  /* a:visited {
    color: #fb3;
  } */
  
  /* mouse over link */
  a:hover {
    color: #3889b7;
  }
  
  /* selected link */
  a:active {
    color: #3889b7;
  }

  a:link:active, a:visited:active {
    color: #3889b7;
  }


pre {
    color: #ffffff;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
}

.page_wrap { 
    color: #fff !important;
    background-color: #2e2e2e !important;
}
body {
    overscroll-behavior: contain;
  }

#install {
    display: none;
}

#ios-show {
    display: none;
}

#and-show {
    display: none;
}


.alert-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 10px;
    z-index: 9999;
}

.alert-fixed2 {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;
    z-index: 9999;
}